@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --color1: white;
    --color2: black;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
    transition: color 0.5s, background-color 0.5s;
}

*::selection {
    background-color: rgb(255, 0, 255);
    color: rgb(255, 255, 255);
}

body {
    width: calc(100vw - (100vw - 100%));
    height: 100dvh;
    background-color: var(--color1);
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

.text {
    /* color: var(--secondaryColor); */
    filter: invert(1);
    mix-blend-mode: difference;
    font-family: "Lexend", serif;
    font-weight: normal;
    font-size: 2rem;
}

h1.text {
    font-weight: normal;
    font-size: 3rem;
}

header {
    width: calc(100vw - (100vw - 100%));
    /* background-color: var(--color1); */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

nav li:hover {
    background-color: var(--color2);
    filter: invert(1);
    mix-blend-mode: difference;
    /* transform: translateX(-1rem); */
}

a {
    text-decoration: none;
    color: currentColor;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    gap: 100vh;
}

#main-view {
    transition: width 1s cubic-bezier(.67,.21,.19,1.03);
}


#background1, #background2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 0dvw;
    height: 0dvh;
    z-index: -10;

    transition-timing-function: cubic-bezier(.67,.21,.19,1.03);
    transition-duration: 1s;
    transition-property: width, height;
}

#background1 {
    background-color: var(--color2);
}

#background2 {
    background-color: var(--color1);
}


button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: fit-content;
    color: var(--color2);
    border: var(--color2) 1px solid;
    background-color: var(--color1);
    padding: 1rem;
    filter: invert(1);
    mix-blend-mode: difference;
}

button:hover {
    color: var(--color1);
    border: var(--color1) 1px solid;
    background-color: var(--color2);
    filter: invert(1);
    mix-blend-mode: difference;
}

.no-style-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.no-style-btn:hover {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

footer {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}




@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}