#project-view {
    position: fixed;
    top: 0;
    transform: translateX(100vw);
    background-color: white;
    transition: transform 1s cubic-bezier(.67,.21,.19,1.03), background-color 0.1s;
    width: 50vw;
    height: 100vh;
    cursor: auto;
}

#project-view * {
    cursor: auto;
}

.leave-view {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.leave-view img {
    cursor: pointer;
}

#project-top {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; */
    text-align: right;
    pointer-events: none;
    height: fit-content;
}

#project-main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    height: 100%;
    gap: 1rem;
    /* padding: 1rem; */
}

.project-tags {
    margin: 2rem 0;
}

.tag {
    background-color: var(--color2);
    color: var(--color1);
    font-size: 1rem;
    border-radius: 500px;
    /* margin: 1em 0; */
    padding: 0.5rem 1rem;
}