#project-view {
    position: fixed;
    top: 0;
    transform: translateX(100vw);
    background-color: aqua;
    transition: transform 1s cubic-bezier(.67,.21,.19,1.03);
    width: 100vw;
    height: 100vh;
    cursor: auto;
}